<!DOCTYPE html>
<html>
    <head>
        <title>Interpretación de las Mediciones de Resistividad Aparente</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/bootstrap/css/wenner.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-center">
                    <h1>{% block cabecera %}{% endblock %}</h1>
                    <div id="texto_bienvenida">
                        {% block texto_bienvenida %}{% endblock %}
                    </div>
                    {% block cuerpo %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
