{% extends 'base.html' %}

{% block cabecera %}Cree un modelo estratificado{% endblock %}

{% block texto_bienvenida %}
            <p>
                Use esta aplicación para, después de haber realizado mediciones usando el método de Wenner, graficar una curva que muestre las resistividades aparentes en función de las distancias de cada medición, y también para obtener los parámetros de resistividad y espesor de un modelo de terreno de n estratos horizontales que aproxime las mediciones hechas en campo.
            </p>
            <p>
                Introduzca, opcionalmente, la fecha cuando fueron hechas estas medidas, su nombre o el su organización, la ubicación donde se realizaron las medidas, la humedad del terreno al haber tomado las medidas.
            </p>
{% endblock %}

{% block cuerpo %}
        <form method="POST" action="/wenner/crea_estudio">
            <div class="form-group form-inline">
                <input class="form-control" id="id_fecha" name="fecha_texto" placeholder="Fecha" />
                <input class="form-control" id="id_nombre" name="nombre_texto" placeholder="Nombre" />
                <input class="form-control" id="id_ubicacion" name="ubicacion_texto" placeholder="Ubicación" />
                <input class="form-control" id="id_humedad" name="humedad_texto" placeholder="Humedad del terreno" />
                <input class="form-control" id="id_num_mediciones" name="num_mediciones" type="number" min="1" placeholder="Número de mediciones" required />
                <input class="form-control" type="submit" id="enviar" />
            </div>
            {% csrf_token %}
        </form>
{% endblock %}
