{% extends 'base.html' %}

{% block cabecera %}Introduzca las mediciones{% endblock %}

{% block texto_bienvenida %}
            <p>
                Introduzca la distancia entre los electrodos y la resistividad (la resistividad siendo el producto 2*π*(la distancia entre los electrodos)*(la resistencia indicada por el dispositivo Wenner)) para cada medición a tomar en consideración:
            </p>
{% endblock %}

{% block cuerpo %}
        <form method="POST" action="/wenner/{{ estudio.id }}/modifica_estudio">
            <div class="form-group form-inline">
                <input class="form-control" id="id_fecha" name="fecha_texto" placeholder="Fecha" value="{{ estudio.fecha }}" />
                <input class="form-control" id="id_nombre" name="nombre_texto"  placeholder="Nombre" value="{{ estudio.nombre }}"/>
                <input class="form-control" id="id_ubicacion" name="ubicacion_texto" placeholder="Ubicación" value="{{ estudio.ubicacion }}" />
                <input class="form-control" id="id_humedad" name="humedad_texto" placeholder="Humedad" value="{{ estudio.humedad }}" />
                <input class="form-control" id="id_num_mediciones" name="num_mediciones" type="number" min="1" placeholder="Número de mediciones" value="{{ estudio.numero_mediciones }}" required />
            </div>
            <table class="table table-stripped table-bordered table-condensed table-auto">
                <tr>
                    <th>Distancia</th>
                    <th>Resistividad</th>
                </tr>
                {% if not estudio.medicion_set.all %}
                {% for i in range %}
                <tr>
                    <td><input class="form-control input-tabled" id="a{{ i }}" name="a" type="number" step="any" placeholder="Distancia {{ i|add:1 }}" required /></td>
                    <td><input class="form-control input-tabled" id="rho{{ i }}" name="rho" type="number" step="any" placeholder="Resistividad {{ i|add:1 }}" required /></td>
                </tr>
                {% endfor %}
                {% else %}
                {% for medicion in estudio.medicion_set.all %}
                <tr>
                    <td><input class="form-control input-tabled" id="a{{ forloop.counter|add:-1 }}" name="a" type="number" step="any" placeholder="Distancia {{ forloop.counter }}" value="{{ medicion.distancia }}" required /></td>
                    <td><input class="form-control input-tabled" id="rho{{ forloop.counter|add:-1 }}" name="rho" type="number" step="any" placeholder="Resistividad {{ forloop.counter }}" value="{{ medicion.resistividad }}" required /></td>
                </tr>
                {% endfor %}
                {% for i in range %}
                <tr>
                    <td><input class="form-control input-tabled" id="a{{ i }}" name="a" type="number" step="any" placeholder="Distancia {{ i|add:1 }}" required /></td>
                    <td><input class="form-control input-tabled" id="rho{{ i }}" name="rho" type="number" step="any" placeholder="Resistividad {{ i|add:1 }}" required /></td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
            <input type="submit" id="enviar" class="btn btn-default" />
            {% csrf_token %}
        </form>
{% endblock %}
