{% extends 'base.html' %}

{% block cuerpo %}
        <form method="POST">
            <div class="form-group form-inline">
                <input class="form-control" id="id_fecha" name="fecha_texto" placeholder="Fecha" value="{{ estudio.fecha }}" />
                <input class="form-control" id="id_nombre" name="nombre_texto"  placeholder="Nombre" value="{{ estudio.nombre }}"/>
                <input class="form-control" id="id_ubicacion" name="ubicacion_texto" placeholder="Ubicación" value="{{ estudio.ubicacion }}" />
                <input class="form-control" id="id_humedad" name="humedad_texto" placeholder="Humedad" value="{{ estudio.humedad }}" />
            </div>
            <table class="table table-stripped table-bordered table-condensed table-auto">
                <tr>
                    <th>Distancia</th>
                    <th>Resistividad</th>
                </tr>
                {% for medicion in estudio.medicion_set.all %}
                <tr>
                    <td><input class="form-control input-tabled" id="a{{ forloop.counter | add:-1 }}" name="a" type="number" step="any" placeholder="Distancia {{ forloop.counter }}" value="{{ medicion.distancia|floatformat:3 }}" required /></td>
                    <td><input class="form-control input-tabled" id="rho{{ forloop.counter | add:-1 }}" name="rho" type="number" step="any" placeholder="Resistividad {{ forloop.counter }}" value="{{ medicion.resistividad|floatformat:3 }}" required /></td>
                </tr>
                <input name="medicion_id" value="{{medicion.id}}" type="hidden" />
                {% endfor %}
            </table>
            <input class="btn btn-default" type="submit" id="enviar" />
            {% csrf_token %}
        </form>
        <img class="img-responsive center-block" id="grafico_r_funcion_a" src="/{{ estudio.grafico_r_funcion_a.url }}" alt="gráfico de la resistividad en función de la distancia">
        <div id="texto_instructivo_2">
            <p>
                Introduzca los datos de espesor y resistividad para su modelo
            </p>
        </div>
        <form method="POST" action="/wenner/{{ estudio.id }}/modifica_modelo">
            <div class="form-group form-inline">
                <input id="id_cantidad_estratos" name="cantidad_estratos" type="number" min="1" placeholder="Cantidad de estratos" value="{{ estudio.cantidad_estratos }}" required />
            </div>
            <table class="table table-stripped table-bordered table-condensed table-auto">
                <tr>
                    <th>Resistividad</th>
                    <th>Espesor</th>
                </tr>
                {% if not estudio.estrato_set.all %}
                {% for estrato in range %}
                <tr>
                    <td><input class="form-control input-tabled" id="rho_m{{ forloop.counter | add:-1 }}" name="rho_m" type="number" step="any" placeholder="Resistividad del estrato {{ forloop.counter }}" required /></td>
                {% if forloop.counter < estudio.cantidad_estratos %}
                    <td><input class="form-control input-tabled" id="espesor{{ forloop.counter | add:-1 }}" name="espesor" type="number" step="any" placeholder="Espesor del estrato {{ forloop.counter }}" required /></td>
                {% endif %}
                </tr>
                {% endfor %}

                {% else %}
                {% for estrato in estudio.estrato_set.all %}
                <tr>
                    <td><input class="form-control input-tabled" id="rho_m{{ forloop.counter | add:-1 }}" name="rho_m" type="number" step="any" placeholder="Resistividad del estrato {{ forloop.counter }}" value="{{ estrato.resistividad }}" required /></td>
                {% if forloop.counter < estudio.estrato_set.all.count %}
                    <td><input class="form-control input-tabled" id="espesor{{ forloop.counter | add:-1 }}" name="espesor" type="number" step="any" placeholder="Espesor del estrato {{ forloop.counter }}" value="{{ estrato.espesor }}" required /></td>
                </tr>
                {% endif %}
                {% endfor %}
                {% for i in range %}
                <tr>
                    <td><input class="form-control input-tabled" id="rho_m{{ i }}" name="rho_m" type="number" step="any" placeholder="Resistividad del estrato {{ i|add:1 }}" required /></td>
                    <td><input class="form-control input-tabled" id="espesor{{ i }}" name="espesor" type="number" step="any" placeholder="Espesor del estrato {{ i|add:1 }}" required /></td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
            <input type="submit" id="segundo_enviar" />
            {% csrf_token %}
        </form>
{% endblock %}
