{% extends 'base.html' %}

{% block cuerpo %}
        <form method="POST">
            <div class="form-group form-inline">
                <input class="form-control" id="id_fecha" name="fecha_texto" placeholder="Fecha" value="{{ estudio.fecha }}" />
                <input class="form-control" id="id_nombre" name="nombre_texto"  placeholder="Nombre" value="{{ estudio.nombre }}"/>
                <input class="form-control" id="id_ubicacion" name="ubicacion_texto" placeholder="Ubicación" value="{{ estudio.ubicacion }}" />
                <input class="form-control" id="id_humedad" name="humedad_texto" placeholder="Humedad" value="{{ estudio.humedad }}" />
            </div>
            <table class="table table-stripped table-bordered table-condensed table-auto">
                <tr>
                    <th>Distancia</th>
                    <th>Resistividad</th>
                </tr>
            {% for medicion in estudio.medicion_set.all %}
                <tr>
                    <td><input class="form-control input-tabled" id="a{{ forloop.counter | add:-1 }}" name="a" type="number" step="any" placeholder="Distancia {{ forloop.counter }}" value="{{ medicion.distancia|floatformat:3 }}" required /></td>
                    <td><input class="form-control input-tabled" id="rho{{ forloop.counter | add:-1 }}" name="rho" type="number" step="any" placeholder="Resistividad {{ forloop.counter }}" value="{{ medicion.resistividad|floatformat:3 }}" required /></td>
                <input name="medicion_id" value="{{medicion.id}}" type="hidden" />
                </tr>
            {% endfor %}
            </table>
            <input type="submit" class="btn btn-default" id="enviar" />
            {% csrf_token %}
        </form>
        <img class="img-responsive center-block" id="grafico_r_funcion_a" src="/{{ estudio.grafico_r_funcion_a.url }}" alt="gráfico de la resistividad en función de la distancia">

        <form method="POST" action="/wenner/{{ estudio.id }}/modifica_modelo">
            <input id="id_cantidad_estratos" name="cantidad_estratos" type="number" min="1" placeholder="Cantidad de estratos" value="{{ estudio.cantidad_estratos }}" required />
            
            <table class="table table-stripped table-bordered table-condensed table-auto">
                <tr>
                    <th>Resistividad</th>
                    <th>Espesor</th>
                </tr>
                {% for estrato in estudio.estrato_set.all %}
                <tr>
                    <td><input class="form-control input-tabled" id="rho_m{{ forloop.counter | add:-1 }}" name="rho_m" type="number" step="any" placeholder="Resistividad del estrato {{ forloop.counter }}" value="{{ estrato.resistividad|floatformat:3 }}" required /></td>
                {% if forloop.counter < estudio.cantidad_estratos %}
                    <td><input class="form-control input-tabled" id="espesor{{ forloop.counter | add:-1 }}" name="espesor" type="number" step="any" placeholder="Espesor del estrato {{ forloop.counter }}" value="{{ estrato.espesor|floatformat:3 }}" required /></td>
                {% endif %}
                </tr>
                <input name="estrato_id" value="{{ estrato.id }}" type="hidden" />
                {% endfor %}
            </table>
            <input type="submit" class="btn btn-default" id="segundo_enviar" />
            {% csrf_token %}
        </form>
        <div class="panel panel-default">
            <div class="panel-heading">Modelo</div>
            <div class="panel-body">
                <table class="table table-stripped table-bordered table-auto" id="tabla_resistividad_espesor">
                    <tr>
                        <th>Resistividad</th>
                        <th>Espesor</th>
                    </tr>
                    {% for p1, p2 in p0 %}
                    <tr>
                        <td>{{ p1|floatformat:3 }}</td>
                        <td>{{ p2|floatformat:3 }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>{{ p3|floatformat:3 }}</td>
                        <td></td>
                    </tr>
                </table>
                <p id="error_rms">error relativo rms: {{q|floatformat:3}}</p>
                <p id="error_maximo">error relativo máximo: {{bm|floatformat:3}}, en la muestra {{jm}}</p>
                <p id="cantidad_iteraciones">cantidad de iteraciones: {{ic}}</p>
                <table class="table table-stripped table-bordered table-auto" id="tabla_a_rc_rm_er">
                    <tr>
                        <th>Distancia</th>
                        <th>Resistividad Campo</th>
                        <th>Resistividad Modelo</th>
                        <th>Error Relativo</th>
                    </tr>
                    {% for xw, rf, rmod, rf_rmod in r %}
                    <tr>
                        <td>{{ xw|floatformat:3 }}</td>
                        <td>{{ rf|floatformat:3 }}</td>
                        <td>{{ rmod|floatformat:3 }}</td>
                        <td>{{ rf_rmod|floatformat:3 }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <img class="img-responsive center-block" id="grafico_modelo" src="/{{ estudio.grafico_modelo.url }}" alt="gráfico de la resistividad en función de la distancia y la resistividad proporcionada por el modelo en función de la distancia">
            </div>
        </div>
{% endblock %}
