{% extends 'base.html' %}

{% block cabecera %}{% endblock %}

{% block cuerpo %}
        <div id="texto_instructivo">
            <p>
                Puede modificiar los datos introducidos de ser necesario
            </p>
        </div>
        <form method="POST" action="/wenner/{{ estudio.id }}/modifica_estudio">
            <div class="form-group form-inline">
                <input class="form-control" id="id_fecha" name="fecha_texto" placeholder="Fecha" value="{{ estudio.fecha }}" />
                <input class="form-control" id="id_nombre" name="nombre_texto"  placeholder="Nombre" value="{{ estudio.nombre }}"/>
                <input class="form-control" id="id_ubicacion" name="ubicacion_texto" placeholder="Ubicación" value="{{ estudio.ubicacion }}" />
                <input class="form-control" id="id_humedad" name="humedad_texto" placeholder="Humedad" value="{{ estudio.humedad }}" />
                <input class="form-control" id="id_num_mediciones" name="num_mediciones" type="number" min="1" placeholder="Número de mediciones" value="{{ estudio.numero_mediciones }}" required />
            </div>

            <table class="table table-stripped table-bordered table-condensed table-auto">
                <tr>
                    <th>Distancia</th>
                    <th>Resistividad</th>
                </tr>
                {% for medicion in estudio.medicion_set.all %}
                    <tr>
                        <td><input class="form-control input-tabled" id="a{{ forloop.counter | add:-1 }}" name="a" type="number" step="any" placeholder="Distancia {{ forloop.counter }}" value="{{ medicion.distancia|floatformat:3 }}" required /></td>
                        <td><input class="form-control input-tabled" id="rho{{ forloop.counter | add:-1 }}" name="rho" type="number" step="any" placeholder="Resistividad {{ forloop.counter }}" value="{{ medicion.resistividad|floatformat:3 }}" required /></td>
                <input name="medicion_id" value="{{medicion.id}}" type="hidden" />
                {% endfor %}
                {% for i in range %}
                <tr>
                    <td><input class="form-control input-tabled" id="a{{ i }}" name="a" type="number" step="any" placeholder="Distancia {{ i|add:1 }}" required /></td>
                    <td><input class="form-control input-tabled" id="rho{{ i }}" name="rho" type="number" step="any" placeholder="Resistividad {{ i|add:1 }}" required /></td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" id="enviar" class="btn btn-default" />
            {% csrf_token %}
        </form>
        <img class="img-responsive center-block" id="grafico_r_funcion_a" src="/{{ estudio.grafico_r_funcion_a.url }}" alt="gráfico de la resistividad en función de la distancia">

        <h2>Puede introducir los datos para generar el modelo estratificado</h2>
        <div id="texto_instructivo_2">
            <p>
                Puede generar un modelo de n estratos horizontales que indique los parámetros de resistividad y espesor para aproximar los datos que ya introdujo.
            </p>
            <p>
                Indique el número de estratos
            </p>
        </div>
        <form method="POST" action="/wenner/{{ estudio.id }}/introduce_modelo">
            <input id="id_cantidad_estratos" name="cantidad_estratos" type="number" min="1" placeholder="Cantidad de estratos" required />
            <input type="submit" id="segundo_enviar" class="btn btn-default" />
            {% csrf_token %}
        </form>
{% endblock %}
