.table-auto {
    margin: 0 auto;
    float: none;
    width: auto;
}

.input-tabled {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
